.question {

    &__block {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;

        &_imageblock {
            width: 40%;
            display: flex;
            flex-direction: column;
            position: relative;

            h3 {
                margin-bottom: 2rem;
                text-align: center;
            }
        }

        &_image {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                @extend %imgCenter;
                z-index: 1;
            }

            p {
                position: absolute;
                margin: 0 2rem;
                text-align: center;
                color: $secondary;
                font-size: $font-size-h5;
                line-height: 1;
                z-index: 3;
            }

            &:after {
                content: "";
                width: 80%;
                height: 80%;
                display: block;
                position: absolute;
                background: rgba($fourth, 0.45);
                border-radius: 50%;
                z-index: 2;
            }
        }

        &_list {
            width: calc(60% - (#{$containerPadding} * 2));
            display: flex;
            flex-direction: column;
            margin-left: 0;
            padding-left: calc(#{$containerPadding} * 2);
            position: relative;

            li {
                width: 100%;
                height: calc(100% / 3);
                list-style: none;

                a {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(lighten($five, 35%), $five);
                    border-radius: 0.3rem;
                    color: $secondary;
                    font-size: $font-size-h4;
                    font-family: $heading-font;
                }

                &:hover {

                    a {
                        color: lighten($secondary, 15%);
                        background: linear-gradient(lighten($five, 45%), lighten($five, 10%));
                    }
                }

                &.hidden {
                    display: none;
                    visibility: hidden;
                }
            }

            &--right {
                background: linear-gradient(lighten($six, 35%), $six) !important;
            }

            &--wrong {
                background: linear-gradient(lighten($seven, 35%), $seven) !important;
            }
        }

        &_text {
            width: 100%;
            height: calc((100% * 2) / 3);
            display: flex;
            flex-direction: column;
            position: relative;

            &-inside {
                width: 100%;
                height: 80%;
                display: block;

                p {
                    margin-top: 0;
                }
            }
        }

        &_next {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(lighten($five, 35%), $five);
            border-radius: 0.3rem;
            color: $secondary;
            font-size: $font-size-h5;
            font-family: $heading-font;
        }
    }

    @include grid-media($Small) {

        &__block {
            flex-direction: column;
            align-items: center;

            &_imageblock {
                width: 100%;
                height: 50%;

                h3 {
                    height: 2rem;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    margin-bottom: 0;
                    margin-top: 2rem;
                }
            }

            &_image {
                height: calc(100% - 4rem);
                display: flex;
                align-items: center;

                img {
                    display: none;
                    visibility: hidden;
                }

                p {
                    height: calc(100% - 4rem);
                    color: $body-font-color;
                    display: flex;
                    align-items: center;
                }

                &:after {
                    display: none;
                    visibility: hidden;
                }
            }

            &_list {
                width: 100%;
                height: 50%;
                padding-left: 0;
            }
        }
    }
}